body
{   background-image : url('banque.jpg') ;
	background-repeat: no-repeat;
	background-size: cover;
}

a
{
	color : bleu;
}

td
{
	text-align : left;
	
}

#video
{
	text-align : center;
}

.message
{
	font-style : italic;
}

/*La propriété grid-area est une propriété raccourcie pour grid-row-start, 
*/

.item1 { grid-area: header; } 
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container { 
  display: grid; 
  grid-template-areas: 
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px; 
  padding: 10px; 
}

#vote
{
	font-style : italic;
	font-weight : bold;
}

ul p 
{
	color : red;
}

table tr td p
{
	font-size: 25px;
	font-weight : bold;
}